* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.cover {
	height: 600px;
	background-image: url("../images/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.cover h1 {
	margin: 0;
	padding-top: 250px;
}

