* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: sans-serif;
}

.cover {
	height: 600px;
	background-image: url("../images/cover.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center bottom;
}

h1 {
	position: relative;
	top: 270px;
	font-size: 50px;
	color: white;
}

h2 {
	font-size: 30px;
	padding-top: 100px;
}

p {
	margin: 25px 0;
}

.content {
	margin: 70px 0;
}

.content-cover {
	margin-top: 180px;
	color: white;
	height: 500px;
	background-image: url("../images/second-cover.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center bottom;
}

.type {
	margin: 50px 50px;
	padding: 30px;
	width: 300px;
	display: inline-block;
	border: solid 2px white;
}

.examples h2 {
	margin-bottom: 150px;
}

.example {
	margin-top: 120px;
}

.example img {
	margin: 30px 0;
	height: 350px;
	border: solid 2px black;
}

.footer {
	height: 150px;
	background-color: #191919;
}

.footer p {
	padding-top: 50px;
	color: white;
}